# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Some IDE files..
/Telegram_Port_Checker/manifest.mf
/Telegram_Port_Checker/nbproject/private/
/Telegram_Port_Checker/build/
/Telegram_Port_Checker/dist/
/Telegram_Port_Checker/nbproject/
Telegram_Port_Checker/src/telegram/BotConfig.java
*.log
Telegram_Port_Checker/src/telegram/BotConfig.java
Telegram_Port_Checker/saveddata.dat